<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:theme="@android:style/Theme.Material.NoActionBar" android:label="MG 3D Model Viewer" android:icon="@drawable/ic_launcher_cad" android:roundIcon="@drawable/ic_launcher_cad" android:hardwareAccelerated="true">
        <activity android:name=".CadViewerActivity" android:screenOrientation="sensorLandscape" android:exported="false"/>
        <activity android:name=".MainActivity" android:screenOrientation="sensorLandscape" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
